# Byte-compiled / Python
__pycache__/
*.py[cod]
*$py.class

# Environment
env/
venv/
.venv/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
media/
staticfiles/
*.mo
*.swp
*.swo
*.DS_Store

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment variables
.env

# Node modules (se você tiver frontend)
node_modules/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.log

# Pytest
.pytest_cache/

# mypy
.mypy_cache/

# Celery
celerybeat-schedule


